body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #1ba4d5;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('https://img.freepik.com/fotos-premium/traje-hombre-sobre-fondo-madera-ropa-moda-ninos-fedora-gris-camisa-blanca-zapatos-barco-nino-vista-superior-endecha-plana-espacio-copia_120485-5668.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 5rem 0;
    text-align: center;
}

.destacados, .productos {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    width: 30%;
}

.producto img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
